<!DOCTYPE html>
<html>

<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta charset="UTF-8">
	<title>FintechLabs: Test Detail</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
	<link rel="stylesheet" type="text/css" href="css/layout.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

	<script type="text/javascript" src="js/fapi.ui.js"></script>
</head>

<body>

	<div class="pageHeader container-fluid">
		<div class="row-fluid">
			<div class="col-md-8">
				<a href="index.html"><img src="/images/FinTechLabs.io.png"></a>
			</div>
			<div id="userInfoDiv" class="col-md-4 text-right"></div>
		</div>
	</div>
	<div class="clearfix"></div>

	<!-- error modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="errorLabel">Error</h4>
				</div>
				<div class="modal-body">
					Error: <span id="errorMessage"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- loading modal -->
	<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="loadingLabel">Loading...</h4>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<img src="/images/spinner.gif" width="100px" height="30px" />
					</div>
					<div>
						<span id="loadingMessage"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Config modal popup -->
    <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Configuration</h4>
					<button class="btn-clipboard" data-clipboard-target="#config">
						Copy to clipboard
					</button>
                </div>
                <div class="modal-body">
                    <div class="wrapLongStrings">
                        <pre id="config"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- summary -->
    <script type="text/template" id="logDetailTemplate_ResultsSummary">
        <span class="label result-<%- result.toLowerCase() %>"><%- result.toUpperCase() %> <span class="badge"><%- value ? value : '0' %></span></span>
    </script>

	<!-- LogStart -->
	<script type="text/template" id="logDetailTemplate_LogStart">

            <div class="well well-sm container-fluid" data-instance-id="<%- test.testId %>">
              <div class="row-fluid" id="logHeader"> <!-- main header -->

                <div class="col-md-2" id="testStatusAndResult"><!-- status and results block -->

                </div>

                <div class="col-md-8"> <!-- main info -->
                    <div class="row">
                        <div class="col-md-1">Test Name:</div>
                        <div class="col-md-11"><%- test.testName %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">Test ID:</div>
                        <div class="col-md-11"><%- test.testId %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">Created:</div>
                        <div class="col-md-11"><%- new Date(test.started) %></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Description:</div>
                        <div class="col-md-11"><%- test.description %></div>
                    </div>

                    <% if (FAPI_UI.currentUser.isAdmin) { %>
                    <div class="row">
                        <div class="col-md-1">Test Owner:</div>
                        <div class="col-md-11">
                            <%= FAPI_UI.logTemplates.OWNER({owner: test.owner}) %>
                        </div>
                    </div>
                    <% } %>
                    <% if (test.planId) { %>
                    <div class="row">
                        <div class="col-md-1">Plan ID:</div>
                        <div class="col-md-11"><%- test.planId %></div>
                    </div>
                    <% } %>
                    <div class="row">
                        <!-- calculated test results -->
                        <div class="col-md-1">Summary:</div>
                        <div class="col-md-11 labelCollection" id="testResultSummary">

                        </div>
                    </div>
                </div>

                <div class="col-md-2"> <!-- controls -->
                    <button class="btn btn-default btn-block" id="reloadBtn"><span class="glyphicon glyphicon-retweet"></span> Repeat Test</button>
                    <button class="btn btn-default btn-block" id="uploadBtn"><span class="glyphicon glyphicon-picture"></span> Upload Images <span class="badge" id="uploadCount"></span></button>
                    <button class="btn btn-default btn-block" id="showConfigBtn"><span class="glyphicon glyphicon-wrench"></span> View Config</button>
                    <button class="btn btn-default btn-block" id="downloadBtn"><span class="glyphicon glyphicon-save-file"></span> Download Logs</button>
                    <button class="btn btn-default btn-block collapse" id="planBtn"><span class="glyphicon glyphicon-book"></span> Return to Plan</button>
                    <button class="btn btn-default btn-block collapse" id="nextPlanBtn"><span class="glyphicon glyphicon-fast-forward"></span> Continue Plan</button>
                </div>

              </div>
            </div>
            <div class="container-fluid well well-sm collapse" id="runningTestInformation">
              <div id="runningTestError" class="collapse"></div>
              <div class="alert alert-info" id="runningTestActive"><b>This test is currently running.</b> Values exported from the test are available below along with any URLs that need to be visited interactively.</div>
              <div class="alert alert-warning" id="runningTestInactive"><b>This test is no longer running.</b> Values exported from the test are available for review below. This test will be automatically removed from the test runner, but the logs will remain at this URL.</div>
              <div class="row-fluid">
                <div id="runningTestSuccess" class="collapse col-md-12">
                    <div class="alert alert-success"><strong>The test has completed successfully!</strong></div>
                </div>
              </div>
              <div class="row-fluid">
                <!-- attach controls and information for an actively running test here -->
                <div class="col-md-5" id="runningTestExport">

                </div>
                <div class="col-md-6" id="runningTestBrowser">

                </div>
                <div class="col-md-1">
                    <button class="btn btn-success btn-block collapse" id="startBtn"><span class="glyphicon glyphicon-play"></span> Start</button>
                    <button class="btn btn-default btn-block collapse" id="stopBtn"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                </div>
              </div>
            </div>
            <div class="container alert alert-info alert-dismissible collapse" id="runningTestArchived">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <b>This test is no longer running.</b> This log has been archived and can be viewed or downloaded.
            </div>
        </script>

	<!-- Log detail element -->
	<script type="text/template" id="logDetailTemplate">
          <div class="row">
            <div data-item-entry-id="<%- item._id %>" class="col-md-12 logItem"<%
                if (item.blockId && item.startBlock) {
                    %> style="border-left: 3px solid #<%- item.blockId %>; border-top: 3px solid #<%- item.blockId %>;"<%
                } else if (item.blockId) {
                    %> style="border-left: 3px solid #<%- item.blockId %>"<%
                } %>>

                <div class="row"><!-- time / result & http / source / owner -->

                    <div class="col-md-1">
                    <% if (item.time) { %>
                        <%= FAPI_UI.logTemplates.TIME({item: item}) %>
                    <% } %>

                    </div>

                    <div class="col-md-1 labelCollection">
                      <% if (item.result) { %>
                      <%= FAPI_UI.logTemplates.RESULT({item: item}) %>
                      <% } %>

                      <% if (item.http) { %>
                        <%= FAPI_UI.logTemplates.HTTP({http: item.http}) %>
                      <% } %>

					  <% if (item.upload) { %>
						<span class="label label-warning"><span class="glyphicon glyphicon-camera"></span> IMAGE REQUIRED</span>
					  <% } %>

					  <% if (item.img) { %>
						<span class="label result-review"><span class="glyphicon glyphicon-camera"></span> IMAGE</span>
					  <% } %>
                    </div>

                    <div class="col-md-8">
                        <% if (item.src) { %>
                            <%= FAPI_UI.logTemplates.SOURCE({item: item}) %>
                        <% } %>
                    </div>

                    <div class="col-md-2">
                        <% if (item.testOwner
                                && (item.testOwner.iss != FAPI_UI.currentUser.iss
                                    || item.testOwner.sub != FAPI_UI.currentUser.sub)) { %>
                            <%= FAPI_UI.logTemplates.OWNER({owner: item.testOwner}) %>
                        <% } %>
                    </div>

                </div>

                <div class="row"><!-- more button / requirements / message -->
                    <div class="col-md-1 moreButtonContainer">

                    </div>

                    <div class="col-md-1">
                        <% if (item.requirements) { %>
                            <%= FAPI_UI.logTemplates.REQUIREMENTS({item: item}) %>
                        <% } %>
                    </div>

                    <div class="col-md-10">
                        <% if (item.msg) { %>
							<div class="row">
								<div class="col-md-12">
        		        		            <%= FAPI_UI.logTemplates.MESSAGE({item: item}) %>
								</div>
							</div>
                        <% } %>
		                <% if (item.upload) { %>
	        			        <div class="row" data-image-required="true"><!-- image upload (if necessary) -->
    	            			    		<div class="col-md-12">
    	                     		   <%= FAPI_UI.logTemplates.UPLOAD({item: item}) %>
    		                			</div>
							</div>
						<% } %>

                    </div>

                </div>

                <div class="row"><!-- more info panel -->
                    <div class="moreInfoContainer">

                    </div>
                </div>

            </div>
          </div>
        </script>

	<!-- Source -->
	<script type="text/template" id="logDetailTemplate_Source">
            <span class="log-source"><%- item.src %></span>
        </script>

	<!-- Message -->
	<script type="text/template" id="logDetailTemplate_Message">
            <p class="log-message wrapLongStrings"><%- item.msg %></p>
        </script>

	<!-- Requirements -->
	<script type="text/template" id="logDetailTemplate_Requirements">
            <div class="labelCollection">
            <% _.each(item.requirements, function(requirement) {
                var spec = _.find(_.keys(FAPI_UI.specLinks), function(prefix) {
                    return requirement.indexOf(prefix) == 0;
                });
                if (spec) {
                    // link to the spec if we have it %>
                    <span class="log-requirement label label-default"><a href="<%- FAPI_UI.specLinks[spec] %>"><%- requirement %> <span class="glyphicon glyphicon-link"></span></a></span>
                <% } else { %>
                    <span class="log-requirement label label-default"><%- requirement %></span>
                <% }
            }); %>
            </div>
        </script>

	<!-- Upload -->
	<script type="text/template" id="logDetailTemplate_Upload">
            <a class="btn btn-info btn-sm" href="/upload.html?log=<%- encodeURIComponent(item.testId) %>">Attach image to log file...</a>
        </script>

	<!-- Result -->
	<script type="text/template" id="logDetailTemplate_Result">
            <div class="labelCollection" data-entry-result="<%- item.result.toLowerCase() %>">
                <span class="log-result label result-<%- item.result.toLowerCase() %>"><%- item.result.toUpperCase() %></span>
            </div>
        </script>

	<!-- Time  -->
	<script type="text/template" id="logDetailTemplate_Time">
            <span class="log-time"><small class='muted'><%- new Date(item.time).toLocaleTimeString() %></small></span>
        </script>

	<!-- Owner -->
	<script type="text/template" id="logDetailTemplate_Owner">
            <span class="log-owner"><span class="ownerSub"><%- owner.sub %></span><span class="ownerIss"><%- owner.iss %></span></span>
        </script>

	<!-- More Button -->
	<script type="text/template" id="logDetailTemplate_MoreButton">
            <button class="btn btn-default btn-xs moreBtn" data-activated="false">
                <span class="badge"><%- _.size(more) %></span> More <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </script>

	<!-- HTTP Message -->
	<script type="text/template" id="logDetailTemplate_Http">
            <span class="log-http">
                <% if (http == 'request') { %>
                    <span class="label label-info"><span class="glyphicon glyphicon-arrow-right"></span> REQUEST</span>
                <% } else if (http == 'response') { %>
                    <span class="label label-info"><span class="glyphicon glyphicon-arrow-left"></span> RESPONSE</span>
                <% } else if (http == 'incoming') { %>
                    <span class="label label-info"><span class="glyphicon glyphicon-arrow-down"></span> INCOMING</span>
                <% } else if (http == 'redirect') { %>
                    <span class="label label-info"><span class="glyphicon glyphicon-share-alt"></span> REDIRECT</span>
                <% } %>
            </span>
        </script>

	<!-- More -->
	<script type="text/template" id="logDetailTemplate_More">
            <div class="moreInfo collapse">
                <dl class="dl-horizontal">
            <%
                // regular rexpression for displaying JWTs
                var jwtRe = /^(e[yw][a-zA-Z0-9_-]+)\.([a-zA-Z0-9_-]+)\.([a-zA-Z0-9_-]+)(\.([a-zA-Z0-9_-]+)\.([a-zA-Z0-9_-]+))?$/;

                // display all the extra fields
                _.each(more, function(value, key, o) {
            %>
                    <dt data-toggle="tooltip" title="<%- key %>" data-placement="bottom"><%- key %></dt>
                    <dd class="wrapLongStrings">

            <% if (key == 'img') { %>
                <img src="<%- value %>" class="img-responsive center-block imagePreview">
            <% } else if (key == 'stacktrace') { %>
                <ul>
                    <% _.each(value, function(v) { %>
                        <li><%- v %></li>
                    <% }); %>
                </ul>
            <% } else if (jwtRe.exec(value)) { // it's a JWT
                var jwt = jwtRe.exec(value);
            %>
                    <span class="jwtHeader"><%- jwt[1] %></span><b>.</b><span class="jwtPayload"><%- jwt[2] %></span><b>.</b><span class="jwtSignature"><%- jwt[3] %><%
                if (jwt[4]) { %><b>.</b><span class="jweCypher"><%- jwt[5] %></span><b>.</b><span class="jweTag"><%- jwt[6] %></span><% } %>
            <% } else if (_.isString(value) || _.isNumber(value)) { // it's a plain string %>
                    <%- value %>
            <% } else { // by default run it through the json viewer %>
                    <pre class="prettyprint lang-javascript"><%- JSON.stringify(value, null, 2) %></pre>
            <% } %>

                    </dd>
            <%
                });
            %>
                </dl>
            </div>
        </script>

	<!-- Exported -->
	<script type="text/template" id="logDetailTemplate_Exported">
            <fieldset>
                <legend>Exported Values:</legend>
                <dl class="dl-horizontal">
                    <% _.each(exported, function(val, key) { %>
                        <dt><%- key %></dt>
                        <dd class="wrapLongStrings"><%- val %></dt>
                    <% }); %>
                </dl>
            </fieldset>
        </script>

	<!-- BrowserControl -->
	<script type="text/template" id="logDetailTemplate_Browser">
            <fieldset>
                <legend>Browser Interaction:</legend>
                <dl class="dl-horizontal">
                    <% _.each(browser.urls, function(val) { %>
                        <dt><button class="btn btn-primary visitBtn" data-url="<%- val %>">Visit <span class="glyphicon glyphicon-share-alt"></span></button></dt>
                        <dd><i><%- val %></i></dd>
                    <% }); %>
                    <% _.each(browser.visited, function(val) { %>
                        <dt><button class="btn" disabled >Visited <span class="glyphicon glyphicon-share-alt"></span></button></dt>
                        <dd class="wrapLongStrings"><i><%- val %></i></dd>
                    <% }); %>
					<% _.each(browser.runners, function(val) { %>
						<dt>Selenium Instance</dt>
						<dd class="well">
							<dl class="dl-horizontal">
								<dt>Starting Url</dt>
								<dd class="wrapLongStrings"><i><%- val.url %></i></dd>
								<dt>Current Url</dt>
								<dd class="wrapLongStrings"><i><%- val.currentUrl %></i></dd>
								<dt>Current Task</dt>
								<dd class="wrapLongStrings"><i><%- val.currentTask %></i></dd>
								<dt>Current Command</dt>
								<dd class="wrapLongStrings"><i><%- val.currentCommand %></i></dd>
								<dt>Last Response Code</dt>
								<dd class="wrapLongStrings"><i><%- val.lastResponseCode %></i></dd>
								<dt>Last Exception</dt>
								<dd class="wrapLongStrings"><i><%- val.lastException %></i></dd>
							</dl>
						</dd>
					<% }); %>
                </dl>
            </fieldset>
        </script>

	<!-- UserInfo Template-->
	<script type="text/template" id="userInfoTemplate">
            <div id="userInfoData">
                <form action="/logout" method="post" class="form-inline">
                    <p class="form-control-static">Logged in as
                        <% if (userInfo.isAdmin) { %><small class="label label-danger">ADMIN</small> <%}%>
                        <span class="text-primary" data-toggle="tooltip" title="<%- userInfo.principal %>" data-placement="bottom"><%- userInfo.displayName %></span></p>
                    <input type="submit" class="btn btn-sm btn-primary" value="Logout">
                </form>
            </div>
        </script>

    <!-- Final error of running test -->
    <script type="text/template" id="logDetailTemplate_FinalError">
        <div class="alert alert-danger">
            <strong>There was an error while running the test:</strong> <em><%- error.error %> (<%- error.error_class %>)</em>.
            <button class="btn btn-default btn-xs" id="stacktraceBtn">Show Stacktrace</button>
            <ul id="stacktrace" class="collapse">
                <% _.each(error.stacktrace, function(v) { %>
                    <li><%- v %></li>
                <% }); %>
            </ul>
        </div>
    </script>

    <!-- result/status block -->
    <script type="text/template" id="logTemplate_TestStatusAndResult">
        <div class="testStatusResultBlock testStatus-<%- test.status ? test.status.toLowerCase() : 'unknown' %>">
            <%- test.status ? test.status : 'UNKNOWN' %>
            <sup><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="<%- FAPI_UI.getStatusHelp(test.status) %>" data-placement="right"></span></sup>
        </div>
        <div class="testStatusResultBlock testResult-<%- test.result ? test.result.toLowerCase() : 'unknown' %>">
            <%- test.result ? test.result : 'UNKNOWN' %>
            <sup><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="<%- FAPI_UI.getResultHelp(test.result) %>" data-placement="right"></span></sup>
        </div>
    </script>

	<!-- resident DOM -->
	<div class="container-fluid">
		<div id="logDetail">
			<div class="header"></div>
			<div class="logContent container-fluid">
				<!-- log items are rendered here -->
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function getLogs(testId) {

			return $.ajax({
				type: 'GET',
				url: "/log/" + encodeURIComponent(testId) + ( FAPI_UI.latestTestEntry > 0 ? '?since=' + encodeURIComponent(FAPI_UI.latestTestEntry) : ''),
				data: {},
				success: function(data) {

					// clear any existing log items
					//$('#logDetail .logContent').html('');

					if (data.length > 0) {
						// we got some potentially new test data, reload faster
						FAPI_UI.resetReloadPause();
					} else {
						// we didn't get new data, slow down
						FAPI_UI.incrementReloadPause();
					}

					$.each(data, function(i, item) {

					    var existing = $('[data-item-entry-id="'+item._id+'"]');

					    // check to see if we've seen it before
					    if (existing.length == 0) {

	                        // render the base element
	                        var el = $(FAPI_UI.logTemplates.LOG_DETAIL({
	                            item: item
	                        }));
	                        $('#logDetail .logContent').append(el);

	                        // see if we've got any "extra" bits that we want to display in a block
	                        var more = _.pick(item, function(value, key, object) {
	                            return !_.contains(FAPI_UI.visibleFields, key) && !key.startsWith("_");
	                        });

	                        if (!_.isEmpty(more)) {
	                            // we have extra fields so let's attach them
	                            var moreButton = $(FAPI_UI.logTemplates.MORE_BUTTON({
	                                more: more,
	                                item: item
	                            }));
	                            var moreInfo = $(FAPI_UI.logTemplates.MORE({
	                                more: more,
	                                item: item
	                            }));

	                            $('.moreButtonContainer', el).append(moreButton);
	                            $('.moreInfoContainer', el).append(moreInfo);

	                            // wire up the button
	                            $('.moreBtn', el).click(function(evt) {
	                                if ($(this).data('activated')) {
	                                    // it's already been activated, need to hide things
	                                    $('.moreInfo', el).hide(); // hide the content
	                                    $('.glyphicon', this).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
	                                    $(this).data('activated', false);
	                                } else {
	                                    // need to show the collapsed entity
	                                    $('.moreInfo', el).show(); // show the content
	                                    $('.glyphicon', this).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
	                                    $(this).data('activated', true);
	                                }
	                            });

	                            // prettyprint any raw JSON values
	                            PR.prettyPrint();
	                        }

	                        // write down the "last" log entry we've seen so far so we don't have to re-fetch it at all; if it does happen we can ignore it
                            FAPI_UI.latestTestEntry = _.max([FAPI_UI.latestTestEntry, item.time]);

					    } else {
					    	   // skipping an existing element
					    	   //console.log('Skipping existing: ' + item._id);
					    }

					});

				    // total the amounts for display
				    var allResults = $('[data-entry-result]').map(function() { return $(this).data('entryResult'); }).get();
				    var resultTotals = _.countBy(allResults, _.identity());

				    var possibleResults = ['success', 'failure', 'warning', 'review', 'interrupted', 'info'];
				    var results = '';
				    _.each(possibleResults, function(result) {
				    	   results += FAPI_UI.logTemplates.SUMMARY({result: result, value: resultTotals[result]});
				    });
				    $('#testResultSummary').html(results);
                    // count up any "image required" items

                    var uploadCount = $('[data-image-required]').length;
                    if (uploadCount) {
                        $('#uploadCount').html(uploadCount);
                        $('#uploadBtn').addClass('btn-info');
                        $('#uploadBtn').removeClass('btn-default');
                    } else {
                        $('#uploadCount').html('');
                        $('#uploadBtn').removeClass('btn-info');
                        $('#uploadBtn').addClass('btn-default');
                    }
                 },
				error: function(jqxhr, status, error) {
					FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
						error: error
					});
                    // don't update anymore
                    stopReloader();
				}
			});
		}

		function getHeader(testId) {
			// this is the page header, fill it in with log details
			return $.ajax({
				type: 'GET',
				url: '/info/' + encodeURIComponent(testId),
				data: {},
				success: function(data) {

					// save the status for the 'active' panel later
					if (data.status) {
						if (FAPI_UI.status != data.status.toLowerCase()) {
						    FAPI_UI.resetReloadPause(); // the status changed, might want to pay more attention
							FAPI_UI.status = data.status.toLowerCase();
						}
					}

					// see if we've already rendered this
					var existing = $('#logDetail .header [data-instance-id="'+testId+'"]');

					if (existing.length == 0) {
	                    $('#logDetail .header').html(FAPI_UI.logTemplates.LOG_START({
	                        test: data
	                    }));

	                    $('#logDetail .header [data-toggle="tooltip"]').tooltip({
	                        container: 'body'
	                    });

	                    $('#downloadBtn').click(function(evt) {
	                        evt.preventDefault();
	                        window.open('/log/export/' + encodeURIComponent(testId));
	                    });

	                    $('#uploadBtn').click(function(evt) {
	                        evt.preventDefault();
	                        window.open('/upload.html?log=' + encodeURIComponent(testId));
	                    });

	                    $('#reloadBtn').click(function(evt) {
	                        evt.preventDefault();

	                        FAPI_UI.showBusy('Creating a clone of this test...');

	                        $.ajax({
	                            url: '/runner/?test=' + encodeURIComponent(data.testName) + (data.planId ? '&plan=' + encodeURIComponent(data.planId) : ''),
	                            type: 'POST',
	                            contentType: 'application/json',
								// pass config if necessary, which it isn't if the test is part of a plan
	                            data: data.planId ? undefined : JSON.stringify(data.config),
	                            success: function(data, status) {
	                                // we need to switch to the new window now
	                                var newUrl = window.location.href.replace(testId, data.id);
	                                window.location.assign(newUrl);
	                            },
	                            error: function(jqxhr, status, error) {
	                                FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
	                                    error: error
	                                });
	                                // don't update anymore
	                                stopReloader();
	                            }
	                        });

	                    });

	                    // wire up configuration button
	                    $('#showConfigBtn').click(function(evt) {
	                        evt.preventDefault();
	                        $('#config').html(_.escape(JSON.stringify(data.config, null, 4)));
	                        $('#configModal').modal('show');
	                    });

                        $('#stopBtn').click(function(evt) {
                            evt.preventDefault();
                            FAPI_UI.showBusy('Stopping test...');

                            $.ajax({
                                url: '/runner/' + encodeURIComponent(testId),
                                type: 'DELETE',
                                error: function(jqxhr, status, error) {
                                    FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
                                        error: error
                                    });
                                    // don't update anymore
                                    stopReloader();
                                }
                            }).then(function() {
                                stopReloader();
                                return reload(testId);
                            }).always(function() {
                                FAPI_UI.hideBusy();
                            });
                        });

                        $('#startBtn').click(function(evt) {
                            evt.preventDefault();
                            FAPI_UI.showBusy('Starting test...');

                            $.ajax({
                                url: '/runner/' + encodeURIComponent(testId),
                                type: 'POST',
                                error: function(jqxhr, status, error) {
                                    FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
                                        error: error
                                    });
                                    // don't update anymore
                                    stopReloader();
                                }
                            }).then(function() {
                                return reload(testId);
                            }).always(function() {
                                FAPI_UI.hideBusy();
                            });
                        });

	                    if (data.planId) {
	                        $('#planBtn').click(function(evt) {
	                            evt.preventDefault();
	                            window.location.assign('/plan-detail.html?plan=' + encodeURIComponent(data.planId));
	                        });
	                        $('#planBtn').show();

	                        $.ajax({
	                            url: '/plan/' + encodeURIComponent(data.planId),
	                            type: 'GET',
	                            success: function(planData) {

	                                var modules = _.pluck(planData.modules, 'testModule');
	                                var thisModuleIndex = _.findIndex(planData.modules, {testModule: data.testName});

	                                if (thisModuleIndex >= 0 && thisModuleIndex < (modules.length - 1)) {
	                                    // there's a "next" module we can run in this test plan

	                                    var nextModule = modules[thisModuleIndex + 1];

	                                    $('#nextPlanBtn').click(function(evt) {
	                                        evt.preventDefault();

	                                        FAPI_UI.showBusy('Creating a new test for ' + nextModule + '...');

	                                        $.ajax({
	                                            url: '/runner/?test=' + encodeURIComponent(nextModule) + '&plan=' + encodeURIComponent(data.planId),
	                                            type: 'POST',
	                                            contentType: 'application/json',
	                                            success: function(data, status) {
	                                                // we need to switch to the new window now
	                                                var newUrl = window.location.href.replace(testId, data.id);
	                                                window.location.assign(newUrl);
	                                            },
	                                            error: function(jqxhr, status, error) {
	                                                FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
	                                                    error: error
	                                                });
	                                                // don't update anymore
	                                                stopReloader();
	                                            }
	                                        });
	                                    });

	                                    $('#nextPlanBtn').show();
	                                }

	                            },
	                            error: function(jqxhr, status, error) {
	                                FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
	                                    error: error
	                                });
	                                // don't update anymore
	                                stopReloader();
	                            }
	                        })

	                    }
					}

					// update the status and result regardless of whether we rendered the header in full
				    $('#logDetail .header #testStatusAndResult').html(FAPI_UI.logTemplates.TEST_STATUS({test: data}));

				},
				error: function(jqxhr, status, error) {
					FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
						error: error
					});
                    // don't update anymore
                    stopReloader();
				}
			});
		}

		function getActive(testId) {

			// try to load up the active test information if it's available, otherwise cut out some controls
			return $.ajax({
				type: 'GET',
				url: '/runner/' + encodeURIComponent(testId),
				success: function(data) {
					// show the overall container
					$('#runningTestInformation').show();

					// if it's an active test, keep it updated unless we figure out otherwise
                    FAPI_UI.running = true;

					// found an active test, light up the buttons appropriately
					if (FAPI_UI.status) {
						if (FAPI_UI.status == 'finished' || FAPI_UI.status == 'interrupted') {
							// can't start or stop a stopped test
							$('#startBtn').hide();
							$('#stopBtn').hide();
							// show the "stopped" alert and hide the other
							$('#runningTestActive').hide();
							$('#runningTestInactive').show();
							$('#runningTestArchived').hide();
							// no need to keep updating either
							stopReloader();
						} else {
							// this test is currently running and can potentially be stopped
							$('#stopBtn').show();
							$('#runningTestActive').show();
							$('#runningTestInactive').hide();
							$('#runningTestArchived').hide();

							// if the test is currently in a "configured" state it can also be started
							if (FAPI_UI.status == 'configured') {
								$('#startBtn').show();
							} else {
								// otherwise, the test can't be started
								$('#startBtn').hide();
							}
						}

					}

					// display the exported data
					$('#runningTestExport').html(FAPI_UI.logTemplates.EXPORTED({
						exported: data.exposed
					}));

					// display the browser control data
					if (data.browser) {
						$('#runningTestBrowser').html(FAPI_UI.logTemplates.BROWSER({
							browser: data.browser
						}));
						$('#runningTestBrowser .visitBtn').click(function(evt) {
							evt.preventDefault();
							var url = $(this).data('url');

							FAPI_UI.showBusy('Opening target URL', 'Opening: ' + url);

							var win = window.open(url, '_blank');

							if (win) {
								win.focus();
								$.ajax({
									url: '/runner/browser/' + encodeURIComponent(testId) + '/visit?url=' + encodeURIComponent(url),
									type: 'POST',
									error: function(jqxhr, status, error) {
										FAPI_UI.showError(jqxhr.responseJSON ? jqxhr.responseJSON : {
											error: error
										});
					                    // don't update anymore
					                    stopReloader();
									}
								}).then(function() {
									return reload(testId);
								}).always(function() {
									FAPI_UI.hideBusy();
								});
							} else {
								FAPI_UI.showError({
									error: "Couldn't open the url: " + url
								});
							}

						});
					}

					// if there's a final test error, display it
					if (data.error) {
						$('#runningTestError').html(FAPI_UI.logTemplates.FINAL_ERROR({
							error: data.error
						}));
						$('#runningTestError').show();

						$('#stacktraceBtn').click(function(event) {
							event.preventDefault();
							$('#stacktraceBtn').hide();
							$('#stacktrace').show();
						});
					}

				},
				error: function(jqxhr, status, error) {
					// test isn't currently in the runner, can't start or stop it
					$('#startBtn').hide();
					$('#stopBtn').hide();
					$('#runningTestActive').hide();
					$('#runningTestInactive').hide();
					$('#runningTestArchived').show();
					// don't update anymore
					stopReloaderNow();
				}
			});
		}

		function startReloader(testId) {
			clearTimeout(FAPI_UI.reloader);
			if (FAPI_UI.running) {
				FAPI_UI.reloader = setTimeout(function() {
	                return reload(testId)
	                .always(function() {
	                    if (FAPI_UI.running) {
	                        startReloader(testId);
	                    }
	                });
	            }, FAPI_UI.reloadPause);
			}
		}

		// delay stopping the reloader for a little bit to get any last minute additions to the logs
        function stopReloader() {
			setTimeout(function() {
				stopReloaderNow();
			}, FAPI_UI.maxReloadPause);
        }

		function stopReloaderNow() {
			FAPI_UI.running = false;
			clearTimeout(FAPI_UI.reloader);
		}

		function reload(testId) {
            return $.when()
            .then(function() {
                return getHeader(testId);
            }).then(function() {
                return getLogs(testId);
            }).then(function() {
                return getActive(testId);
            });
		}

		$(document).ready(function() {
			var urlParams = new URLSearchParams(window.location.search);
			var testId = urlParams.get('log');

			FAPI_UI.showBusy();

			$.when(FAPI_UI.loadLogDetailTemplates()) // Load the templates
			.then(function() {
				return FAPI_UI.getUserInfoDiv("#userInfoDiv") // Then get the current user info
			}).then(function() {
				return getHeader(testId); // once the logs are loaded, render the header
			}).then(function() {
				return getLogs(testId); // Only once the user is loaded, then render the logs
			}).then(function() { // once we have the test info, check to see if the test is currently active
				return getActive(testId);
			}).always(function() {
				FAPI_UI.hideBusy();
				startReloader(testId);
			});

			var clipboard = new ClipboardJS('.btn-clipboard');
			clipboard.on('success', function(e) {
				console.log(e);
			});
			clipboard.on('error', function(e) {
				console.log(e);
			});
		});
	</script>


	<footer class="pageFooter">
		<span class="muted">FintechLabs.io conformance suite</span>
	</footer>

</body>

</html>
